:root {
  /* CSS HSL */
  --lapis-lazuli: hsla(206, 51%, 37%, 1);
  --cerulean: hsla(203, 48%, 44%, 1);
  --platinum: hsla(90, 8%, 85%, 1);
  --indigo-dye: hsla(202, 61%, 22%, 1);
  --sky-blue: hsla(194, 52%, 67%, 1);
}
* {
  font-family: "Kanit", sans-serif;
}
body {
  display: grid;
  place-items: center;

  margin: 15vh auto;
  background-color: var(--indigo-dye);
}
section {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}
h1 {
  color: var(--indigo-dye);
}
input,
button {
  border-radius: 10px;
  border: none;
  padding: 10px;
}
input {
  width: 100%;
  font-size: 2.5rem;
  height: 70px;
  text-align: center;
  color: white;
  background-color: var(--sky-blue);
  margin: 10px 0;
  padding: 10px 0;
}
.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
button {
  margin: 5px 5px;
  height: 70px;
  width: auto;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  color: var(--lapis-lazuli);
}
.reset {
  width: auto;
}
.btn:hover {
  background-color: var(--cerulean);
  color: white;
  font-weight: 700;
  transition: 0.5s;
}
.footer {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 0.6rem;
  color: var(--lapis-lazuli);
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  section {
    width: 80vw;
  }
}
